* {
    box-sizing: border-box;
}

body {
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
header {
    margin-bottom: 3%;
    padding-bottom: 1%;
    width: 100%;
    margin: 0;
}

.titulo {
    color: white;
    margin-left: 10%;
    margin-right: 12%;
    text-transform: uppercase;
    font-size: 500%;
    font-family: 'Grechen Fuemen', cursive;
}

.desde {
    margin-left: 20%;
    margin-right: 30%;
    color: white;
    font-family: 'Grechen Fuemen', cursive;
    font-size: 130%;
}

.nav {
    font-family: 'Fredericka the Great', cursive;
    font-size: 150%;
}

a {
    color: white;
    text-decoration: none;
}

.botones {
border-right: 2px solid white;
padding-right: .5%;
}

.bi-facebook {
    color: white;
}
.bi-instagram {
    color: white;
    margin-left: 1%;
}

.bi-youtube {
    color: white;
    margin-left: 1%;
}

hr {
    margin-bottom: 2%;
    background-color: white;
    height: 2px;
    width: 50%;
}

footer {
    width:fit-content;
    color: white;
    margin: 0 auto;
    margin-bottom: 2%;
}

.hr1 {
    width: 80%;
    margin-bottom: 2%;
}

.contacto {
    font-size: 100%;
    width: fit-content;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.hr3 {
    width: 40%;
    margin: 5% auto;
}

.si {
    height: 70px;
    width: 100px;
	position: fixed;
	bottom: 100px;
	right: 10px;
    background-color: transparent;
    font-size: 110%;
    color: white;
    font-style: oblique;
    transition: 1;
}

.si:hover {
background-color: blanchedalmond;
color: black;
opacity: 0.5;
}